 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto";
 }

 .App {
   width: 1920px;
   padding-bottom: 10px;
 }

 .submit-btn {
   width: 323px;
   height: 60px;
   border-radius: 5px;
   border: none;
   font-size: 24px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 30px;
   cursor: pointer;
   color: rgba(255, 255, 255, 1);
 }

 .disabled-btn {
   background-color: rgba(146, 143, 148, 1);
 }

 .enabled-btn {
   background-color: rgba(255, 168, 0, 1);
   color: rgba(255, 255, 255, 1);
 }

 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 input[type="number"] {
  -moz-appearance: textfield;
}