.CoachSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.CoachSection__info-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 217, 143, 1);
    padding: 10px 33px ;
}

.CoachSection__info-coach-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CoachSection__info-coach-numbers p {
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}

.CoachSection__info-coach-numbers button {
    font-size: 24px;
    font-weight: 700;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}