.InputCity {
position: relative;
}

.InputCity-search_list {
    position: absolute;
    top: 65px;
    left: 0px;
    width: 325px;
    background-color: rgba(245, 244, 246, 1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 999;
}

.InputCity-search_list-element {
    width: 100%;
    padding: 10px 28px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);
    text-transform: uppercase;
}

.InputCity-search_list-element:first-child {
    margin-top: 5px;
}

.InputCity-search_list-element:hover {
    background-color: rgba(255, 202, 98, 1);
    color: rgba(255, 255, 255, 1);
}