.TicketOffice {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 244, 246, 1);
}

.TicketOffice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TicketOffice__main {
    width: 1406px;
    display: flex;
    flex-direction: row;
    padding-top: 95px;
    padding-bottom: 95px;
}