.Destination {
    min-width: 210px;
    padding-left: 39px;
}

.Destination-time {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 700;
}

.Destination-city {
    color: rgba(41, 41, 41, 1);
    font-size: 18px;  
    font-weight: 400; 
}

.Destination-city::first-letter {
    text-transform: uppercase;   
}

.Destination-station {
    color: rgba(146, 143, 148, 1);
    font-size: 16px;
    font-weight: 400; 
}