.OrderStatusBar {
    width: 1920px;
    height: 98px;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgba(62, 60, 65, 1);
}

.OrderStatusBar__element {
    position: relative;
    width: 324px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(62, 60, 65, 1);
    padding-left: 72px;
    clip-path: polygon(0 0, calc(100% - 37px) 0, 100% 50%, calc(100% - 37px) 100%, 0 100%);
}

.OrderStatusBar__element:nth-child(n+2) {
    margin-left: -39px;
}

.active-element {
    background-color: rgba(255, 168, 0, 1);
}

.OrderStatusBar__element:first-child {
    padding-left: 230px;
}

.OrderStatusBar__element:last-child {
    padding-right: 230px;
}

.OrderStatusBar__element-number {
    width: 56px;
    height: 56px;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    font-weight: 700;
    margin-right: 21px;
}

.OrderStatusBar__element-name {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: 700;
}