.Loading {
    width: 1920px;
    min-height: 770px;
    background-color: #3e3c41;
    background-image: url('../../../data/img/train.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -95px;
    margin-left: -260px;
}

.Loading__pending {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(146, 143, 148, 1);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -150px;
}