.Footer {
    width: 100%;
    height: 519px;
    background-color: rgba(45, 43, 47, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 1);
}

.Footer h5 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 36px;
}

.Footer-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.Footer__contacts,
.Footer__subscribe {
    width: 50%;
    padding-top: 52px;
}

.Footer__contacts {
    padding-left: 343px;
}

.Footer__contacts-section {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 27px;
}

.Footer__contacts-section p {
    margin-left: 36px;
}

.SubscribeForm p {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.SubscribeForm-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.SubscribeForm-form input {
    padding-left: 21px;
    width: 447px;
    height: 60px;
    font-size: 24px;
    font-weight: 400;
}

.SubscribeForm-form button {
    margin-left: 33px;
    width: 169px;
    height: 60px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    text-transform: uppercase;
    color: rgba(229, 229, 229, 1);
}

.Footer__social {
    margin-top: 44px;
}

.Footer__social-icons {
    display: flex;
    flex-direction: row;
}

.Footer__social-icon {
    margin-right: 48px;
}


.Footer__bottom {
    padding: 22px 257px 33px 256px;
    border-top: 1px solid rgba(229, 229, 229, 1);
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Footer__bottom p {
    text-transform: uppercase;
    font-size: 24px;
}

.Footer__bottom img {
    cursor: pointer;
}